{% extends "base.html" %}

{% block content %}
<!-- Hey future Bill, might want to come back to this with some JS, hide the player choices/ seperate pop outs kinda thing -->
<main>
    <div id= "text-container">
        <h2>
            Multiplayer (IN DEVELOPMENT) 
        </h2>
        <p>
            Player 1 - Enter your name and choose your weapon! 
        </p>
        <form action="/play" method="post">
            <input type="text" name="player_1_name" id="player_1_name" placeholder="Enter your name...">
            <select id="player_1_choice" name="player_1_choice">
                <option value="rock">ROCK</option>
                <option value="paper">PAPER</option>
                <option value="scissors">SCISSORS</option>
            </select>
            
        </form>
        <p>
            Player 2 - Enter your name and choose your weapon! 
        </p>
        <form action="/play" method="post">
            <input type="text" name="player_2_name" id="player_2_name" placeholder="Enter your name...">
            <select id="player_2_choice" name="player_2_choice">
                <option value="rock">ROCK</option>
                <option value="paper">PAPER</option>
                <option value="scissors">SCISSORS</option>
            </select>
            <input type="submit" value= "PLAY">
        </form>
    </div>
</main>

{% endblock %}